.post-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.post-popup {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.form {
  display: flex;
  flex-direction: column;
}

.modal-header {
  height: 40px;
  background-color: rgb(93, 93, 247);
}


label {
  margin-bottom: 10px;
  font-weight: lighter;
}

/* input[type="text"],
input[type="file"], */
.input-area {
  width: 100%;
  padding: 10px;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #f4f4f4;
  border: 1px dashed #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.upload-image input[type="file"] {
  display: none;
}

button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #333;
}

.save_btn {
  background-color: orangered;
}